extends layout

block content
  
  input(type='hidden',name='json',id='json',value=palabras) 

  div(class="sidebar branding-below" id="main")
   div(class="container" id="mainsec")
    div(class="row")
      div(class="col-xs-4",id="tc")
        

  script(src='javascripts/words.js')

  