doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery.js")
    link(rel="stylesheet" href="stylesheets/jqcloud.min.css")
    link(rel="stylesheet" href="stylesheets/main.css")
    script(src="javascripts/jqcloud.min.js")
  body
    block content
